<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <title>QuickFood</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="styles/app.css"/>
  <link rel="stylesheet" href="styles/onsen-css-components.css">  

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    
  
  <script src="cordova.js"></script>  
  <script src="js/app.js"></script>  
  <script>
    ons.ready(function() {
    });
  </script>
</head>

<body ng-controller="AppController">    

  <ons-navigator>
    <ons-page>
      <ons-sliding-menu
                  above-page="takeOrder.html"
                  behind-page="menu.html"       
                  side="left"
                  max-slide-distance="250px"
                  var="menu">
      </ons-sliding-menu>

    </ons-page>
  </ons-navigator>

<ons-template id="menu.html">
  <ons-list>
    <ons-list-item id="item-blue">QuickFood</ons-list-item>
    <ons-list-item modifier="chevron" onclick="menu.setAbovePage('takeOrder.html', {closeMenu: true})">Take Order</ons-list-item>
    <ons-list-item modifier="chevron" onclick="menu.setAbovePage('kitchen.html', {closeMenu: true})">Kitchen</ons-list-item>
    <ons-list-item modifier="chevron" onclick="menu.setAbovePage('history.html', {closeMenu: true})">History</ons-list-item>
    <ons-list-item modifier="chevron" onclick="menu.setAbovePage('settings.html', {closeMenu: true})">Settings</ons-list-item>
    <ons-list-item modifier="chevron" onclick="menu.setAbovePage('reviews.html', {closeMenu: true})">Reviews</ons-list-item>
  </ons-list>
</ons-template>
  <ons-template id="detail.html">
    <ons-page ng-controller="DetailController">

      <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center">Details</div>
      </ons-toolbar>

      <ons-list modifier="inset" style="margin-top: 10px">
        <ons-list-item class="item">
          <ons-row>
            <ons-col width="60px"> 
              <div class="item-thum"></div>
            </ons-col>
            <ons-col>
              <header>
                <span class="item-title">{{item.title}}</span>
                <span class="item-label">{{item.label}}</span>
              </header>
              <p class="item-desc">{{item.desc}}</p>
            </ons-col>
          </ons-row>
        </ons-list-item>

        <ons-list-item modifier="chevron" ng-click="doSomething()">
          <ons-icon icon="ion-chatboxes" fixed-width="true" style="color: #ccc"></ons-icon>
          Add a note
        </ons-list-item>
      </ons-list>

      <ons-list style="margin-top: 10px">
        <ons-list-item class="item" ng-repeat="i in [1,2,3]">
          <header>
            <span class="item-title">Lorem ipsum dolor sit amet</span>
          </header>
          <p class="item-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </ons-list-item>
      </ons-list>
      <br>
    </ons-page>
  </ons-template>
  <ons-template id="history.html">
   <ons-page ng-controller="HistoryController">
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="menu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">History</div>
    </ons-toolbar>
      <ons-list>

     	<div style="text-align:center; margin-top:5px;">
	  <center>
      	    <input type="search" class="search-input" placeholder="Filter"/>
	  </center>
	</div>

	<div class="list__header" style="margin:5px;">Results</div>
        <ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showDetail($index)">
          <ons-row>
            <ons-col width="60px"> 
              <div class="item-thum"></div>
            </ons-col>
            <ons-col>
              <header>
                <span class="item-title">{{item.title}}</span>
                <span class="item-label">{{item.label}}</span>
              </header>
              <p class="item-desc">{{item.desc}}</p>
            </ons-col>
          </ons-row>                          
        </ons-list-item>
      </ons-list>
  </ons-template>
<ons-template id="kitchen.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="menu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Kitchen</div>
    </ons-toolbar>

   <input type="text" class="text-input--underbar" placeholder="Add Filter"/><br />
    <p style="text-align: center; color: #999; padding-top: 100px;">Page2 Contents</p>
  </ons-page>
</ons-template>
<ons-template id="reviews.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="menu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Reviews</div>
    </ons-toolbar>

        <ons-list>
          <ons-list-header>Reviews</ons-list-header>
          <textarea class="textarea" cols='200' rows="3" placeholder="Textarea"></textarea>
        
			<br/><br/>
          <ons-list-header>Overall Views</ons-list-header>
          <button class="button--large--cta" onclick="alert('Feedback recorded!')"> Satsfied Me, reccomend</button>
		  <button class="button button--large" onclick="alert('Feedback recorded!')">Un-Happy</button>
        </ons-list>
	
  </ons-page>
</ons-template>
<ons-template id="settings.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="menu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Settings</div>
    </ons-toolbar>

    <ul class="list">
      <li class="list__item">
	    Notifications
    	    <label class="switch switch--list-item">
      	      <input type="checkbox" class="switch__input" checked>
      	      <div class="switch__toggle"></div>
    	    </label>
      </li>
      <li class="list__item">
	    Sync
    	    <label class="switch switch--list-item">
      	      <input type="checkbox" class="switch__input">
      	      <div class="switch__toggle"></div>
    	    </label>
      </li>
    </ul>
  </ons-page>
</ons-template>
<ons-template id="takeOrder.html">
  <ons-page ng-controller="TakeOrderController">
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Take Order</div>
    </ons-toolbar>

   <input type="text" class="text-input--underbar" placeholder="Table No"/><br />

  <ons-row >
    <ons-col width="10%" align="center">
      <select ng-model="default_categories" ng-options="category.title for category in categories">
      </select>
    </ons-col>

    <ons-col width="70%" align="center">
      <input type="search" class="search-input" placeholder="Item"/>
    </ons-col>

    <ons-col width="5%" align="center">
      <input type="number" class="text-input" placeholder="Quantity"/>
    </ons-col>

    <ons-col align="center">
      <ons-icon icon="ion-plus-circled" style="font-size: 32px; width: 1em; color: blue"></ons-icon>
    </ons-col>
  </ons-row>

   
	<div class="list__header" style="margin:5px;">Items</div>
        <ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showDetail($index)">
          <ons-row>
            <ons-col width="60px"> 
              <div class="item-thum"><img src="res/pizza.jpg" style="height:100%;width:100%"/></div>
            </ons-col>
            <ons-col>
              <header>
                <span class="item-title">{{item.title}}</span>
                <span class="item-label">{{item.label}}</span>
              </header>
              <p class="item-desc">{{item.desc}}</p>
            </ons-col>
          </ons-row>                          
        </ons-list-item>
  <ons-bottom-toolbar>
   <ons-tabbar position="bottom">
	<ons-tab icon="ion-home" label="Bill"></ons-tab>
 	<ons-tab icon="ion-briefcase" label="Submit"></ons-tab>
    </ons-tabbar>
  </ons-bottom-toolbar>
    </ons-page>
</ons-template>
</body></html>
