<ons-template id="reviews.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="menu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Reviews</div>
    </ons-toolbar>

        <ons-list>
          <ons-list-header>Reviews</ons-list-header>
          <textarea class="textarea" cols='200' rows="3" placeholder="Textarea"></textarea>
        
			<br/><br/>
          <ons-list-header>Overall Views</ons-list-header>
          <button class="button--large--cta" onclick="alert('Feedback recorded!')"> Satisfied Me, recommend</button>
		  <button class="button button--large" onclick="alert('Feedback recorded!')">Un-Happy</button>
        </ons-list>
	
  </ons-page>
</ons-template>
