<ons-template id="takeOrder.html">
  <ons-page ng-controller="TakeOrderController">
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Take Order</div>
    </ons-toolbar>

   <input type="text" class="text-input--underbar" placeholder="Table No"/><br />

  <ons-row >
    <ons-col width="10%" align="center">
      <select ng-model="default_categories" ng-options="category.title for category in categories">
      </select>
    </ons-col>

    <ons-col width="70%" align="center">
      <input type="search" class="search-input" placeholder="Item"/>
    </ons-col>

    <ons-col width="5%" align="center">
      <input type="number" class="text-input" placeholder="Quantity"/>
    </ons-col>

    <ons-col align="center">
      <ons-icon icon="ion-plus-circled" style="font-size: 32px; width: 1em; color: blue"></ons-icon>
    </ons-col>
  </ons-row>

   
	<div class="list__header" style="margin:5px;">Items</div>
        <ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showDetail($index)">
          <ons-row>
            <ons-col width="60px"> 
              <div class="item-thum"><img src="res/pizza.jpg" style="height:100%;width:100%"/></div>
            </ons-col>
            <ons-col>
              <header>
                <span class="item-title">{{item.title}}</span>
                <span class="item-label">{{item.label}}</span>
              </header>
              <p class="item-desc">{{item.desc}}</p>
            </ons-col>
          </ons-row>                          
        </ons-list-item>
  <ons-bottom-toolbar>
   <ons-tabbar position="bottom">
	<ons-tab icon="ion-home" label="Bill"></ons-tab>
 	<ons-tab icon="ion-briefcase" label="Submit"></ons-tab>
    </ons-tabbar>
  </ons-bottom-toolbar>
    </ons-page>
</ons-template>
