<ons-template id="takeOrder.html">
  <ons-page ng-controller="TakeOrderController">
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Take Order</div>
   <ons-tabbar position="bottom">
	<ons-tab icon="ion-home" label="Bill"></ons-tab>
 	<ons-tab icon="ion-briefcase" label="Submit"></ons-tab>
    </ons-tabbar>

    </ons-toolbar>

   <input type="text" class="text-input--underbar" placeholder="Table No"/><br />
   <input type="search" class="search-input" placeholder="Item"/>
	<div class="list__header" style="margin:5px;">Items</div>
        <ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showDetail($index)">
          <ons-row>
            <ons-col width="60px"> 
              <div class="item-thum"><img src="res/pizza.jpg" style="height:100%;width:100%"/></div>
            </ons-col>
            <ons-col>
              <header>
                <span class="item-title">{{item.title}}</span>
                <span class="item-label">{{item.label}}</span>
              </header>
              <p class="item-desc">{{item.desc}}</p>
            </ons-col>
          </ons-row>                          
        </ons-list-item>
    </ons-page>
  <ons-bottom-toolbar>
   <ons-tabbar position="bottom">
	<ons-tab icon="ion-home" label="Bill"></ons-tab>
 	<ons-tab icon="ion-briefcase" label="Submit"></ons-tab>
    </ons-tabbar>
  </ons-bottom-toolbar>

</ons-template>
